<a href="https://colab.research.google.com/github/vishnupadminilanka/Unicorn-Sales-Performance-Analysis/blob/main/Unicorn_Company_Project_Group_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![vibrant-unicorn-logo-design-colorful-emblem-depicting-the-enchanting-symbol-of-unicorns-vector.jpg]()Unicorn Company Project Group 4

**Team**
*   Vishnu Padmini Lanka
*   Bianca Niemann
*   Meenakshi Subramaniam
*   Julius Abongwa

**Mentors**
*   Sonia Seguin
*   Eftychia Kolasi

# Data Exploration with SQL

In [13]:
import pandas as pd
import sqlalchemy as sa
pd.set_option('display.max_rows', 1000)

In [14]:
unicorn_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn?sslmode=require'

In [15]:
engine = sa.create_engine(unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

## Tasks:

In [16]:
# 1.How many customers do we have in the data?
query = """
SELECT COUNT(DISTINCT customer_id)
FROM customers
"""

display(pd.read_sql(sa.text(query),connection))

   count
0    795

In [17]:
# 2.What was the city with the most profit for the company in 2015?
query = """
SELECT shipping_city, SUM(order_profits) AS city_profits
FROM order_details od
JOIN orders o
ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY shipping_city
ORDER BY city_profits DESC
LIMIT 1
"""

display(pd.read_sql(sa.text(query),connection))

   shipping_city  city_profits
0  New York City       14753.0

In [18]:
# 3.In 2015, what was the most profitable city's profit?
query = """
WITH profit_table AS (
SELECT shipping_city, SUM(od.order_profits) AS total_profit
FROM orders o
LEFT JOIN order_details od USING(order_id)
WHERE EXTRACT('YEAR' FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1
)
SELECT total_profit
FROM profit_table;
"""

display(pd.read_sql(sa.text(query),connection))

   total_profit
0       14753.0

In [19]:
# 4.How many different cities do we have in the data? Please refer just to the city name and not similar city names in different states
query = """
SELECT COUNT(DISTINCT shipping_city)
FROM orders;
"""

display(pd.read_sql(sa.text(query),connection))

   count
0    531

In [20]:
# 5.Show the total spent by customers from low to high.
query = """

SELECT cu.customer_id, SUM(od.order_sales) AS total_spent
FROM order_details od
JOIN orders ord USING(order_id)
JOIN customers cu USING(customer_id)
GROUP BY cu.customer_id
ORDER BY total_spent
LIMIT 100
;

"""

display(pd.read_sql(sa.text(query),connection))

    customer_id  total_spent
0           456          5.0
1           738          5.0
2           546         16.0
3           124         17.0
4           657         22.0
5           626         48.0
6           725         49.0
7           448         50.0
8             9         58.0
9           355         72.0
10          292         81.0
11           38         88.0
12          419         89.0
13          649         98.0
14          169        113.0
15          248        125.0
16           95        131.0
17          613        133.0
18          310        147.0
19          529        154.0
20          229        157.0
21          605        160.0
22           54        161.0
23          550        162.0
24           51        170.0
25          383        195.0
26           26        201.0
27          333        219.0
28          642        221.0
29          316        227.0
30          270        228.0
31          315        237.0
32          594        239.0
33          666        243.0
34          318        251.0
35           34        264.0
36           98        266.0
37          237        269.0
38           72        274.0
39          571        274.0
40          719        278.0
41          722        281.0
42          162        287.0
43          449        288.0
44          371        305.0
45          361        310.0
46          467        318.0
47          104        321.0
48          450        330.0
49          235        343.0
50          324        359.0
51          279        367.0
52           20        367.0
53          481        368.0
54          521        370.0
55          564        377.0
56          787        381.0
57          354        384.0
58          400        386.0
59           71        386.0
60          495        400.0
61           99        415.0
62          705        418.0
63          785        427.0
64          701        432.0
65          750        439.0
66          437        449.0
67          443        454.0
68          269        462.0
69          395        471.0
70          174        475.0
71          501        476.0
72          700        478.0
73           37        496.0
74          637        528.0
75          387        529.0
76          123        538.0
77          163        551.0
78          128        565.0
79          565        571.0
80          109        583.0
81          221        585.0
82           16        586.0
83          488        594.0
84           65        600.0
85           96        605.0
86          620        615.0
87           64        629.0
88          502        640.0
89          131        641.0
90          399        644.0
91          477        644.0
92           56        649.0
93          118        658.0
94           44        658.0
95           84        659.0
96           22        662.0
97          754        676.0
98          262        684.0
99          606        689.0

In [21]:
# 6.What is the most profitable city in the State of Tennessee?
query = """
SELECT o.shipping_city, SUM(od.order_profits) AS total_profit
FROM order_details od
LEFT JOIN orders o USING(order_id)
WHERE o.shipping_state = 'Tennessee'
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1;
"""

display(pd.read_sql(sa.text(query),connection))

  shipping_city  total_profit
0       Lebanon          83.0

In [22]:
# 7.What’s the average annual profit for that city across all years?
query = """
WITH sum_over_years AS (
SELECT EXTRACT(YEAR FROM o.order_date) AS year, SUM(od.order_profits) AS total_profit
FROM order_details od
LEFT JOIN orders o USING(order_id)
WHERE o.shipping_state = 'Tennessee' AND o.shipping_city = 'Lebanon'
GROUP BY o.shipping_city, year
ORDER BY total_profit DESC
)
SELECT AVG(total_profit)
FROM sum_over_years
;
"""

display(pd.read_sql(sa.text(query),connection))

         avg
0  27.666667

In [23]:
#8.What is the distribution of customer types in the data?
query = """
SELECT COUNT(customer_id) AS total_customer_distribution,customer_segment
FROM customers
GROUP BY customer_segment;
"""

display(pd.read_sql(sa.text(query),connection))

   total_customer_distribution customer_segment
0                          410         Consumer
1                          237        Corporate
2                          148      Home Office

In [24]:
# 9.What’s the most profitable product category on average in Iowa across all years?
query = """
  SELECT product_category,AVG(order_profits) AS order_profits--,shipping_date
  FROM order_details od
  JOIN product p
  USING (product_id)
  JOIN orders
  USING (order_id)
  WHERE shipping_state = 'Iowa'
  GROUP BY product_category--,shipping_date
  ORDER BY order_profits DESC
  LIMIT 1;
"""

display(pd.read_sql(sa.text(query),connection))

  product_category  order_profits
0        Furniture         130.25

In [25]:
#10.What is the most popular product in that category across all states in 2016?
query = """
SELECT product_name, SUM(quantity) AS total_quantity
  FROM order_details od
  JOIN product p
  USING (product_id)
  JOIN orders
  USING (order_id)
  WHERE EXTRACT(YEAR FROM order_date) = 2016 AND product_category = 'Furniture'
  GROUP BY product_name
  ORDER BY total_quantity DESC
  LIMIT 1;
"""

display(pd.read_sql(sa.text(query),connection))

                                 product_name  total_quantity
0  Global Push Button Manager's Chair, Indigo            22.0

In [26]:
#11.Which customer got the most discount in the data? (in total amount)
query1 = """
WITH joined_tables AS
	(SELECT *
	FROM order_details
	LEFT JOIN orders
	USING (order_id)
	LEFT JOIN customers
	USING (customer_id)
	LEFT JOIN product
	USING (product_id)),

	discount_calculations AS
(SELECT order_details_id, order_sales, order_discount, order_sales/(1-order_discount) AS original_price,
(order_sales/(1-order_discount)) - order_sales AS absolute_discount_1,
(order_sales/(1-order_discount)) * order_discount AS absolute_discount_2,
customer_id
	FROM joined_tables
)

SELECT SUM(absolute_discount_1) AS total_absolute_discount,customer_id
FROM discount_calculations
GROUP BY customer_id
ORDER BY total_absolute_discount DESC
LIMIT 1;
"""

display(pd.read_sql(sa.text(query1),connection))

   total_absolute_discount  customer_id
0             23929.083333          687

In [27]:
# 12.How widely did monthly profits vary in 2018?
query = """
WITH months AS
(
  SELECT EXTRACT(month FROM order_date) AS months, SUM(order_profits) AS total_profits
FROM order_details od
JOIN orders o
USING (order_id)
WHERE EXTRACT(YEAR FROM order_date) = 2018
GROUP BY months
)
SELECT *,LAG(total_profits) OVER(ORDER BY months) as prev_months_profits,
total_profits - LAG(total_profits) OVER(ORDER BY months) as diff_profits
FROM months;
"""

display(pd.read_sql(sa.text(query),connection))

    months  total_profits  prev_months_profits  diff_profits
0      1.0         7137.0                  NaN           NaN
1      2.0         1612.0               7137.0       -5525.0
2      3.0        14758.0               1612.0       13146.0
3      4.0          934.0              14758.0      -13824.0
4      5.0         6342.0                934.0        5408.0
5      6.0         8226.0               6342.0        1884.0
6      7.0         6951.0               8226.0       -1275.0
7      8.0         9034.0               6951.0        2083.0
8      9.0        10987.0               9034.0        1953.0
9     10.0         9272.0              10987.0       -1715.0
10    11.0         9217.0               9272.0         -55.0
11    12.0         8473.0               9217.0        -744.0

In [28]:
# 13.Which was the biggest order regarding sales in 2015?
query = """
SELECT order_id, MAX(order_sales) AS max_order_sales
FROM order_details od
JOIN orders o
USING(order_id)
WHERE EXTRACT(YEAR FROM order_date) = 2015
GROUP BY order_id
ORDER BY max_order_sales DESC
LIMIT 1;
"""

display(pd.read_sql(sa.text(query),connection))

         order_id  max_order_sales
0  CA-2015-145317            22638

In [29]:
#14.What was the rank of each city in the East region in 2015 in quantity?
query1 = """
WITH east_city AS
(
  SELECT shipping_city, SUM(quantity) AS sum_quantity
  FROM orders o
  JOIN order_details od
  USING (order_id)
  WHERE EXTRACT(YEAR FROM order_date) = 2015 AND
  shipping_region = 'East'
  GROUP BY shipping_city
  --ORDER BY sum_quantity DESC
 )
 SELECT *,
  DENSE_RANK() OVER(ORDER BY sum_quantity DESC)
 FROM east_city;
"""
#Solution 2
query2 = """
WITH east_city AS
(
  SELECT shipping_city, SUM(quantity) AS sum_quantity
  FROM orders o
  JOIN order_details od
  USING (order_id)
  WHERE EXTRACT(YEAR FROM order_date) = 2015 AND
  shipping_region = 'East'
  GROUP BY shipping_city
  --ORDER BY sum_quantity DESC
 )
 SELECT *,
  RANK() OVER(ORDER BY sum_quantity DESC)
 FROM east_city;
"""

display(pd.read_sql(sa.text(query1),connection))
#display(pd.read_sql(sa.text(query2),connection))

    shipping_city  sum_quantity  dense_rank
0   New York City        1708.0           1
1    Philadelphia         403.0           2
2        Columbus         167.0           3
3          Newark          64.0           4
4       Fairfield          53.0           5
5      Long Beach          44.0           6
6        Lakewood          38.0           7
7       Lancaster          36.0           8
8        Lawrence          31.0           9
9           Dover          30.0          10
10     Hackensack          28.0          11
11         Bangor          24.0          12
12          Utica          24.0          12
13         Lowell          23.0          13
14        Yonkers          22.0          14
15     Wilmington          21.0          15
16        Clinton          20.0          16
17      Baltimore          20.0          16
18       Cranston          20.0          16
19        Everett          19.0          17
20     Providence          19.0          17
21        Buffalo          19.0          17
22         Medina          16.0          18
23        Meriden          15.0          19
24        Beverly          15.0          19
25   New Rochelle          14.0          20
26        Bristol          14.0          20
27      Hempstead          12.0          21
28      Cleveland          12.0          21
29      Rochester          12.0          21
30         Toledo          12.0          21
31      Watertown          12.0          21
32        Chester          11.0          22
33           Troy          11.0          22
34       Franklin          11.0          22
35          Akron          10.0          23
36        Clifton           9.0          24
37      Jamestown           9.0          24
38        Concord           9.0          24
39       Columbia           8.0          25
40         Lorain           8.0          25
41       Hamilton           8.0          25
42     Cincinnati           8.0          25
43          Mason           7.0          26
44   Mount Vernon           7.0          26
45         Linden           7.0          26
46        Reading           6.0          27
47         Revere           6.0          27
48           Kent           5.0          28
49      Oceanside           5.0          28
50    Springfield           5.0          28
51         Orange           4.0          29
52          Parma           4.0          29
53  Niagara Falls           3.0          30
54     Plainfield           3.0          30
55         Marion           3.0          30
56  Bowling Green           2.0          31
57       Freeport           2.0          31
58     Middletown           2.0          31
59     Woonsocket           2.0          31

In [30]:
# 15.Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’ How many customers are there in total?
query = """
SELECT COUNT(DISTINCT customer_name)
FROM customers
WHERE customer_segment IN('Consumer','Corporate');
"""

display(pd.read_sql(sa.text(query),connection))

   count
0    647

In [31]:
#16.Calculate the difference between the largest and smallest order quantities for product id ‘100.’
query = """
SELECT MAX(quantity)-MIN(quantity) AS diff_quantity
FROM order_details
WHERE product_id = 100;
"""

display(pd.read_sql(sa.text(query),connection))

   diff_quantity
0              4

In [32]:
#17.Calculate the percent of products that are within the category ‘Furniture.’ (Solution 1)
query1 = """
WITH product_count AS
(
SELECT COUNT(*) AS total_prod, product_category
FROM product
GROUP BY product_category
),
sum_count AS
(
SELECT SUM(total_prod) AS total_sum
FROM product_count
  )
  SELECT *,total_prod *100/ total_sum AS perc
  FROM product_count
  CROSS JOIN sum_count;
"""

#17.Calculate the percent of products that are within the category ‘Furniture.’ (Solution 2)
query2 = """
WITH product_count AS
(
SELECT COUNT(*) AS total_prod--, product_category
FROM product
--GROUP BY COUNT(*)
),
sum_count AS
(
SELECT COUNT(*) AS total_sum_furn--SUM(total_prod) AS total_sum
FROM product
  WHERE product_category = 'Furniture'
)
  SELECT *,ROUND(total_sum_furn * 100.0 /total_prod,2) AS perc
  FROM product_count
  CROSS JOIN sum_count;

"""


display(pd.read_sql(sa.text(query1),connection))
#display(pd.read_sql(sa.text(query2),connection))

   total_prod product_category  total_sum       perc
0         380        Furniture     1850.0  20.540541
1        1058  Office Supplies     1850.0  57.189189
2         412       Technology     1850.0  22.270270

In [33]:
#18.Display the number of product manufacturers with more than 1 product in the product table.
query = """
SELECT DISTINCT product_manufacturer,COUNT(product_id)
FROM product
GROUP BY product_manufacturer
HAVING  COUNT(product_id)>1;
"""

display(pd.read_sql(sa.text(query),connection))

      product_manufacturer  count
0                      DAX     17
1                 REDIFORM      5
2                   Avanti      2
3    Executive Impressions     12
4                    Prang      3
5              Plantronics     15
6                   Cubify      2
7                    Lesro      2
8                  SanDisk      8
9               3D Systems      2
10                 Imation     11
11                   Dixon      9
12                ACCOHIDE      3
13                   Other    356
14                   Bevis     11
15                 Fiskars      4
16       Texas Instruments      2
17                    Dana      3
18                 Bulldog      2
19          WD My Passport      3
20                  Nortel      4
21                Standard      2
22                 Griffin      2
23                 Stanley      2
24                   Ampad      5
25                   Tyvek      4
26             Clearsounds      2
27                     BIC      5
28                Euro Pro      2
29             Office Star     12
30              Pressboard      4
31                    Luxo      5
32              O'Sullivan     13
33                  Maxell     12
34                  Hoover     10
35                    Pyle      2
36                Cardinal      8
37                Kingston      4
38         Space Solutions      3
39                    Hunt      4
40                   Sanyo      2
41              Tripp Lite      3
42             Peel & Seel      2
43                Decoflex      2
44                    Poly      2
45            Things To Do      2
46                     DMI      2
47                 Angle-D      2
48                  Holmes      8
49                   SAFCO     20
50                     RCA      5
51          Gould Plastics      2
52                 Brother      2
53              Southworth      8
54                   Canon     10
55             Seth Thomas      6
56                   Zebra      4
57                   Ultra      4
58                Fellowes     35
59                  Carina      4
60                    Balt      3
61              First Data      2
62                Alliance      4
63                 Iceberg      3
64                  Linden      2
65                  Square      2
66                 Sanford     11
67                      GE      7
68                    Sony      7
69                 Crayola      2
70                     DXL      2
71                   G. E.      2
72                     Hon     33
73                Bionaire      2
74                 Lexmark      4
75                   Ibico     12
76                 Quartet      2
77                ClearOne      2
78               Universal      5
79                  Storex      3
80                 Tennsco     11
81                   Razer      3
82               Deflect-o      8
83                   Xerox    173
84                  Belkin     25
85                Advantus     13
86                    TOPS      7
87            Wilson Jones     23
88                  Sauder     11
89            Message Book      3
90             Grandstream      2
91                  iOttie      2
92                   Array      2
93                   Eldon     48
94                Electrix      5
95                   Cisco     17
96                   Nokia      3
97                 Memorex     13
98                   Apple      4
99               Hammermil      2
100                  Anker      6
101                    OIC      5
102             Chromcraft      6
103                 Tensor      4
104              Microsoft      5
105          Master Caster      4
106                    GBC     45
107                  Mitel      2
108               OtterBox      4
109                     KI      2
110                  Ativa      3
111                NETGEAR      3
112                 Global     40
113                Polycom      7
114                Jawbone      2
115                  Smead      3
116          Howard Miller     12
117                  Adams      9
118                 C-Line      4
119                  Sharp      2
120                  Epson      3
121                   AT&T     11
122         Binney & Smith      5
123              Stockwell      2
124                Harmony      2
125               Atlantic      4
126                   Iris      2
127           Westinghouse      3
128                   Rush      2
129                Okidata      6
130             Kensington     11
131                Enermax      3
132              Panasonic     18
133            Martin-Yale      2
134                   Bush     13
135                 Rogers      4
136              KeyTronic      4
137               Logitech     36
138               Motorola      6
139               Barricks      2
140              Wirebound     11
141              Honeywell      5
142                 Eureka      8
143                    HTC      2
144                Nu-Dell      5
145                     LG      3
146               XtraLife      2
147                     3M      6
148                   Acme     19
149                 Boston     18
150                   Akro      2
151                 Newell     52
152              Sterilite      2
153     Office Impressions      2
154             Strathmore      3
155        Hewlett-Packard     11
156                  Avery     98
157               Verbatim      5
158                  Tenex     16
159                   Acco     34
160               Bretford      4
161              Riverside      3
162                Premier      2
163      Micro Innovations      2
164                Novimex      4
165                Samsung     11
166                     HP      4
167                  Jabra      4
168                  Avaya      4

In [34]:
# 19.Find what product manufacturers has more than 2 products . EX: A product with an identical product manufacturer can be considered a duplicate
query = """
WITH prod_man AS
(
  SELECT COUNT (*),product_manufacturer
  FROM product
  GROUP BY product_manufacturer
  HAVING  COUNT(*)>1
 )
 SELECT product_manufacturer,COUNT(*)
 FROM prod_man
 GROUP BY product_manufacturer;

"""

display(pd.read_sql(sa.text(query),connection))

      product_manufacturer  count
0                   Linden      1
1                  Iceberg      1
2                  SanDisk      1
3                  Bulldog      1
4                  Memorex      1
5                   Nortel      1
6                  Quartet      1
7                    Tyvek      1
8                    Epson      1
9              Grandstream      1
10                   Mitel      1
11                XtraLife      1
12               Microsoft      1
13               Panasonic      1
14               Wirebound      1
15                     HTC      1
16          Binney & Smith      1
17                   Avaya      1
18               Sterilite      1
19                REDIFORM      1
20              Tripp Lite      1
21                     RCA      1
22                   Other      1
23   Executive Impressions      1
24                   Ultra      1
25                   Bevis      1
26                Atlantic      1
27                   Sharp      1
28                      GE      1
29                  Hoover      1
30                Verbatim      1
31                   Lesro      1
32                   Sanyo      1
33                Barricks      1
34                   Anker      1
35                Advantus      1
36                   Avery      1
37                    Iris      1
38                   Eldon      1
39                      HP      1
40                 Nu-Dell      1
41                   Razer      1
42                 Sanford      1
43                    Balt      1
44                    AT&T      1
45                    Sony      1
46            Message Book      1
47               Universal      1
48                 Stanley      1
49                ClearOne      1
50             Seth Thomas      1
51                    Rush      1
52                    Acco      1
53              3D Systems      1
54       Micro Innovations      1
55                  Avanti      1
56             Clearsounds      1
57                  C-Line      1
58                  Holmes      1
59              Kensington      1
60                   Xerox      1
61                  Eureka      1
62                Standard      1
63                   Dixon      1
64                 Harmony      1
65             Office Star      1
66                   Prang      1
67          WD My Passport      1
68                   Canon      1
69                 Okidata      1
70                Alliance      1
71                Electrix      1
72               Deflect-o      1
73                    Bush      1
74           Howard Miller      1
75                Bionaire      1
76                   Nokia      1
77                   Smead      1
78                 Tennsco      1
79                 Angle-D      1
80                  Carina      1
81                    Poly      1
82                 Samsung      1
83                     BIC      1
84                  Maxell      1
85                    Hunt      1
86                 Imation      1
87                    TOPS      1
88         Hewlett-Packard      1
89                      LG      1
90                Euro Pro      1
91                    Akro      1
92                 Griffin      1
93                     DAX      1
94                  iOttie      1
95                  Tensor      1
96       Texas Instruments      1
97                Kingston      1
98              Chromcraft      1
99                  Newell      1
100                Crayola      1
101                    GBC      1
102                  Ibico      1
103                   Dana      1
104                    DXL      1
105              Honeywell      1
106                  Zebra      1
107                NETGEAR      1
108                  Adams      1
109           Westinghouse      1
110                    Hon      1
111             First Data      1
112                  SAFCO      1
113                  Cisco      1
114            Martin-Yale      1
115               Motorola      1
116                  Ativa      1
117               Logitech      1
118                Premier      1
119                     3M      1
120           Wilson Jones      1
121                Polycom      1
122                 Rogers      1
123               Fellowes      1
124        Space Solutions      1
125                 Global      1
126              Riverside      1
127                   Acme      1
128                  Array      1
129                 Boston      1
130                  Jabra      1
131                Enermax      1
132               Decoflex      1
133                 Cubify      1
134             O'Sullivan      1
135              Stockwell      1
136                   Luxo      1
137                 Sauder      1
138                 Storex      1
139         Gould Plastics      1
140            Peel & Seel      1
141                    DMI      1
142              KeyTronic      1
143     Office Impressions      1
144                  G. E.      1
145          Master Caster      1
146                  Ampad      1
147               ACCOHIDE      1
148               Bretford      1
149                 Belkin      1
150                   Pyle      1
151              Hammermil      1
152                 Square      1
153           Things To Do      1
154                    OIC      1
155            Plantronics      1
156                Jawbone      1
157                  Apple      1
158             Southworth      1
159                Lexmark      1
160                  Tenex      1
161                     KI      1
162                Novimex      1
163                Brother      1
164               Cardinal      1
165             Strathmore      1
166                Fiskars      1
167               OtterBox      1
168             Pressboard      1

In [35]:
#20.Show the product_subcategory and the total number of products in the subcategory.
query = """
SELECT product_subcategory, COUNT(*) AS total_prod
FROM product
GROUP BY product_subcategory
ORDER BY total_prod DESC, product_subcategory ASC;
"""

display(pd.read_sql(sa.text(query),connection))

   product_subcategory  total_prod
0                Paper         277
1              Binders         211
2               Phones         189
3          Furnishings         186
4                  Art         157
5          Accessories         147
6              Storage         132
7           Appliances          97
8               Chairs          88
9               Labels          70
10            Machines          63
11              Tables          56
12           Bookcases          50
13           Envelopes          44
14            Supplies          36
15           Fasteners          34
16             Copiers          13

In [36]:
#21.Show the order for the most to least number of products.
query = """
SELECT COUNT(product_id) AS prod_count, order_id
FROM order_details od
JOIN product p
USING (product_id)
GROUP BY order_id
ORDER BY prod_count DESC;
"""

display(pd.read_sql(sa.text(query),connection))

      prod_count        order_id
0             14  CA-2018-100111
1             12  CA-2018-157987
2             11  CA-2017-165330
3             11  US-2017-108504
4             10  US-2016-126977
...          ...             ...
5008           1  US-2018-117723
5009           1  US-2018-118535
5010           1  CA-2017-160486
5011           1  CA-2016-119907
5012           1  CA-2015-125150

[5013 rows x 2 columns]

In [37]:
#22.Show the product_id(s), the sum of quantities, where for each sale of product quantities is greater than or equal to 100.
query = """
SELECT product_id, SUM(quantity) AS total_quantity
FROM order_details
WHERE quantity >=100
GROUP BY product_id
ORDER BY total_quantity DESC
"""

display(pd.read_sql(sa.text(query),connection))

   product_id  total_quantity
0        1507           324.0
1        1600           216.0
2         122           143.0
3         920           130.0